* {
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;

}

/* header */
header {
    background-image: url('/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    padding: 216px 230px 166px 845px;
    text-align: right;
}

.header h3 {
    margin-top: 216x;
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0;
}

.header p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.header button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    border: 0;
    padding: 20px 25px;
}

/* main */
/* My failures of previous year */
.failures {
    display: flex;
    margin: 140px 0;
    margin-left: 220px;
    margin-right: 300px;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}

.failures-content>h3 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.failures-content>p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.failures-content-point p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.failures-content-point i {
    color: green;
}

/* My Plans */
.plans>h3 {
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.plan-unit {
    display: flex;
    margin: 0 230px;
    margin-bottom: 130px;
    gap: 90px;
    justify-content: space-around;
    text-align: center;
}

.plan-item-h3 {
    color: #151414;
    font-size: 25px;
    font-weight: 700;
    margin: 15px 0;
}

.plan-item-p {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

/* call me */
.call {
    background-image: url(/images/gradient2.png), url(/images/watch.png);
    border-radius: 8px;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    text-align: left;
    margin: 130px 230px;
    padding: 60px 600px 60px 60px;
    border-radius: 8px;
}



.call h2 {
margin-bottom: 24px;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.call button {
    border-radius: 8px;
    border: 0;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 35px;
}

/* footer */
footer {
    background-color: #151414;
}

.footer {
    display: flex;
    padding: 130px 230px;
    gap: 330px;
}

.footer-col-future h2 {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0;
}

.footer-col-future p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
}

.social-links a {
    margin-right: 15px;
}

.footer-col-subscribe h4 {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
}

.footer-col-subscribe input[type="email"] {
    margin-bottom: 16px;
    background: #151414;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #FFF;
}

.footer-col-subscribe input[type="submit"] {
    font-family: 'Work Sans', sans-serif;
    padding: 20px 35px;
    color: #F15B22;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FFF;
}